
/* BASIC RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: lightgray;
    line-height: 1.6;
}

/* NAVBAR */
.navbar {
    background: rgb(47, 82, 255);
    color: white;
    padding: 15px;
    overflow: hidden; /* enables float layout */
}

.navbar h2 {
    float: left;
}

.navbar ul {
    float: right;
    list-style: none;
}

.navbar ul li {
    display: inline-block;
    margin-left: 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar ul li a:hover {
    color: rgb(255, 230, 0);
}

/* CLEAR FLOATS */
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* HOME PAGE */
.hero {
    padding: 60px;
    text-align: center;
    background: white;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 15px;
}

/* ABOUT PAGE */
.about-container {
    width: 80%;
    margin: auto;
    background: white;
    padding: 20px;
    overflow: hidden;
}

.about-img {
    float: left;
    width: 30%;
    margin-right: 20px;
}

.about-img img {
    width: 100%;
    border-radius: 10px;
}

.about-text {
    float: left;
    width: 65%;
}

/* SKILLS PAGE */
.skills-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 30px;
}

.card {
    width: 250px;
    background:whitesmoke;
    border: 2px solid #333;
    padding: 20px;
    border-radius: 10px;
}

/* CONTACT FORM */
.form-container {
    width: 50%;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.form-container input,
.form-container textarea {
    width: 100%;
    padding: 10px;
    margin-top: 12px;
    border: 1px solid rgb(62, 62, 62);
    border-radius: 5px;
}

.form-container button {
    background: rgb(62, 62, 62);
    color: white;
    padding: 10px 20px;
    border: none;
    margin-top: 15px;
    cursor: pointer;
}

.form-container button:hover {
    background: rgb(236, 186, 20);
    color: rgb(0, 0, 0);
}
